@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-navy {
        background-color: #0F3460;
    }
    .bg-light-red {
        background-color: #E94560;
    }
    .text-navy {
        color: #0F3460;
    }
    .text-light-red {
        color: #E94560;
    }
}