@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-navy {
        background-color: #0F3460;
    }
    .bg-light-red {
        background-color: #E94560;
    }
    .text-navy {
        color: #0F3460;
    }
    .text-light-red {
        color: #E94560;
    }
}

/* custom css */
.owl-theme .owl-nav [class*=owl-] {
    top: 44%;
}
/* tab */
.tab.active {
    color: #E94560;
    border-bottom: 2px solid #E94560;
}
.tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
  }